[submodule "lib/Melanolib"]
	path = lib/Melanolib
	url = https://gitlab.com/mattia.basaglia/Melanolib.git
[submodule "cmake"]
	path = cmake
	url = https://gitlab.com/mattia.basaglia/CMake-Lib.git
[submodule "lib/HttPony"]
	path = lib/HttPony
	url = https://gitlab.com/mattia.basaglia/HttPony.git
